 .mission {
    margin-top: 100px;
    display: flex; 
    align-items: center; 
  }
  
  .missionheader {
    border-radius: 25px;
    height: 16rem;
    width: 30%;
    background-color: rgba(75, 83, 32, 1.0); 
    margin: auto; 
  }
  
.ourmission{
    color: white;
    text-align: center;
    padding-top: 10rem;
}
  .missioninfo {
    color: white;
    width: 50%;
    margin: auto;
  }
  